/*入力ページ向け　ここから*/
@media screen and (max-width:480px)
{
    .mobile_disable
    {
        display:none;    
    }

    body
    {
        position:static;
    }
}

#jqPlot-circle
{
    width: 100%;
    height: 250px; 
}

#datepicker
{
    min-width:135px;
    min-height: 30px;
    margin-right: 10px;
}

.date_submit
{
    min-height: 30px;
}